.main-content {


}

.main-content ul {

}

.main-content ul li {
	text-align: center;
	font-size: 30px;
	list-style: none;
	color:gray;
}

.movie-name li {
	color:#AEC6CF !important;
	height:200px;
	display: inline-block;
	position: relative;
}

.movie-body {
	display: inline-block;
	height:250px;
	width:170px;
}