.main-content {
	text-align:center;
	background-color: #FCFCF0;
	padding-bottom: 100px;
	padding-top: 20px;

}

.movietotal {
	text-align:center;
	width:200px;
	display: inline-block;
	letter-spacing: 2px;
	font-family: arial;
	font-size: 15px;
}

.movielink {
	cursor:pointer;
}

#moviename {
	margin: 100px;
}

.movielistdetail {
	width:100%;
	text-align:center;
	display: inline-block;
}

.movielistdetails li {
	list-style: none;
	font-size: 20px;
}

.back {
	font-size: 15px;
	text-decoration: underline;
	cursor: pointer;
}