
.monthly-day, .monthly-date {
   height: 35px;
   position: relative;
   text-align: center;
   padding: 0px;
   margin: 0 auto;
}

.monthly-day ul, .monthly-date ul {
   display: inline-block;
   font-size: 18px;

}

.main-content{
   height: 100%;
   margin-top: 30px;
   margin-bottom: 100px;
}
.monthly-date ul li{
   display: inline-block;
   padding: 17px;

}

.monthly-day ul li{
   display: inline-block;
   padding: px;
   cursor: pointer;

}

.theater-list{
	width:100%;
	margin: 20px;
	text-align: center;
}

.theater-list div{
   display: inline-block;
   position: center;
   padding: 20px;
}
.theater-list div ul{
   list-style: none;
   padding:0px;
   display: inline-block;
}
.select-content{
   width: 100%;
   	text-align: center;
   	margin-top:30px;
   display: inline-block;
}
.select-content div{
   display: inline-block;
}
.select-content div ul {
	margin-top:40px;
   width: 200px;
   cursor: pointer;
}

.monthly-date ul li{
	cursor: pointer;
}
.reserveSeat{
   cursor: pointer;
}

.reservedSeat{
   background-color: red;
}
.select-Seat{
   height: 300px;
}
table{
   text-align:center;
   width: 50%;
   height: 100%;
   margin: auto;
}

th{
   text-align:center;
   border: 15px solid #bcbcbc;
}
.button-group{
	text-align:center;
	margin:10px;
}

td{
   cursor: pointer;
   border: 15px solid #bcbcbc;
}

td:hover {
    color: #fff;
    text-shadow: -1px 1px 5px #03c, 1px -1px 5px #03c;
}

td:active {
    background-color:pink;
}